# Environment
.env
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
ENV/

# Logs
*.log

# Databases
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db
